body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1120px;
  grid-template-rows: 20rem 4rem 10rem 15rem;
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  margin-inline: auto;
  padding: 1.25rem;
}

article {
  padding: 1.25rem;
  border-radius: 0.6rem;
  box-sizing: border-box;
}

.social-media {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: hsl(256, 67%, 59%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.social-media h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 3rem;
  align-self: stretch;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.social-media img {
  width: 12rem;
  height: auto;
}

.social-media p {
  font-size: 1.1rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.social-media span {
  color: hsl(39, 100%, 71%);
}

.manage-accounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}

.manage-accounts img {
  max-width: none;
  width: 18.3rem;
  height: auto;
  margin-bottom: 0.75rem;
}

.manage-accounts h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0;
}

.posting-schedule {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  grid-column: 3;
  grid-row: 2 / 4;
  background-color: hsl(39, 100%, 71%);
  overflow: hidden;
}

.posting-schedule img {
  width: 100%;
  height: 5.7rem;
  object-fit: cover;
  object-position: top;
  margin-top: auto;
}

.posting-schedule h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0;
  margin-bottom: 0;
}

.schedule-social {
  grid-column: 4;
  grid-row: 1 / 4;
  background-color: hsl(254, 88%, 90%);
  overflow: hidden;
}

.schedule-social h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0.25rem;
}

.schedule-social img {
  max-width: none;
  width: 178%;
  height: 20rem;
  margin-top: 1rem;
  padding: 0.25rem;
}

.schedule-social p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.grow-followers {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  grid-column: 3 / 5;
  grid-row: 4;
  background-color: hsl(256, 67%, 59%);
}

.grow-followers h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}

.grow-followers img {
  width: 45%;
  height: auto;
}

.audience-growth {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  grid-column: 2;
  grid-row: 4;
  background-color: hsl(0, 0%, 100%);
}

.audience-number {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1;
}
.audience-growth h2 {
  margin: 0;
}

.audience-growth p {
  margin: 0;
  margin-top: 0.5rem;
}

.arrow {
  display: inline-block;
  transform: translateY(-0.25rem);
}

.audience-growth img {
  width: 85%;
  height: auto;
  margin-top: 3rem;
}
.create-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: hsl(31, 66%, 93%);
}

.create-post em {
  color: hsl(256, 67%, 59%);
}
.create-post h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0;
  margin-bottom: 1rem;
}

.create-post img {
  width: 80%;
  margin-inline: auto;
}

.write-content {
  display: flex;
  flex-direction: column;

  grid-column: 1 / 2;
  grid-row: 3 / 5;

  background-color: hsl(39, 100%, 71%);
}

.write-content h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.write-content img {
  width: 100%;
  height: auto;

  margin-top: 3rem;
}

@media (max-width: 768px) {
  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.7rem;
    box-sizing: border-box;
  }

  .social-media,
  .manage-accounts,
  .posting-schedule,
  .schedule-social,
  .grow-followers,
  .audience-growth,
  .create-post,
  .write-content {
    grid-column: 1;
    grid-row: auto;
  }

  .social-media {
    order: 1;
  }
  .manage-accounts {
    order: 2;
  }
  .posting-schedule {
    order: 3;
  }
  .schedule-social {
    order: 4;
  }
  .grow-followers {
    order: 5;
  }
  .audience-growth {
    order: 6;
  }
  .create-post {
    order: 7;
  }
  .write-content {
    order: 8;
  }

  .social-media h1 {
    align-self: center;
    max-width: 15rem;
    font-size: 2.5rem;
    line-height: 2.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .social-media img {
    width: 9rem;
  }

  .social-media p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .manage-accounts img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .manage-accounts h2 {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }

  .posting-schedule img {
    width: 80%;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    margin-top: 1rem;
    margin-left: 0;
  }
  .posting-schedule h2 {
    font-size: 1.5rem;
    line-height: 1.35rem;
  }

  .schedule-social {
    text-align: center;
  }

  .schedule-social h2 {
    margin-top: 0.5rem;
  }

  .schedule-social img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 0;
  }

  .schedule-social p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }

  .grow-followers {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .grow-followers img {
    width: 70%;
  }

  .grow-followers h2 {
    font-size: 2.3rem;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 1rem;
  }

  .audience-number {
    font-size: 3rem;
  }

  .audience-growth p {
    margin-top: 0.5rem;
  }

  .audience-growth img {
    width: 65%;
    margin-top: 1rem;
  }

  .create-post {
    text-align: left;
  }

  .create-post h2 {
    font-size: 1.6rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }

  .create-post img {
    width: 70%;
    margin-left: -0.25rem;
  }

  .write-content h2 {
  font-size: 1.8rem;
  line-height: 1.4rem;
  margin-bottom: 0;
}

.write-content img {
  width: 70%;
  height: auto;
  margin-top: 1rem;
  margin-inline: 0;
}
}
